@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");



:root { 
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  body{
    @apply bg-black
  }
  .cell-holder{
    @apply bg-gradient-to-t from-[#000000] to-[#ffffff] h-48 w-28 flex justify-center items-center rounded-lg
  }

  .cell{
    @apply bg-black h-[97%] w-[97%] text-9xl rounded-lg flex justify-center items-center 
  }

  .cell-divide{
    @apply flex items-center text-9xl justify-center
  }
}
