@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");

:root { 
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance { 
    text-wrap: balance;
  }
}

@layer components {
  body{
    @apply bg-black
  }
  .cell-holder{
    @apply bg-gradient-to-t from-[#000000] to-[#ffffff] h-48 w-28 flex justify-center items-center rounded-lg
  }

  .cell{
    @apply bg-black h-[97%] w-[97%] text-9xl rounded-lg flex justify-center items-center 
  }

  .cell-divide{
    @apply flex items-center text-9xl justify-center
  }
}

.font-style{
  font-family: 'Times New Roman';
}

@media (min-width: 340px) {
  .event-box {
    margin-top: 20px;
    /* margin-bottom: 14px; */
  }
}

.register-button {
  background-color: #1976d2;
  border-radius: 0.375rem;
  transition: background-color 0.3s;
}

/* .register-button:hover {
  background-color: white;
  color: #1976d2;
} */

.navbar-button {
  background-color: #000000;
  border-radius: 0.375rem;
  transition: background-color 0.3s;
}

.navbar-button:hover {
  background-color: white;
  color: #1976d2;
} 

.book-ticket {
  transition: background-color 0.3s;
}

.book-ticket:hover {
  background-color: #0178b5;
}

.line-clamp-14 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 14;
  overflow: hidden;
}
.text-style {
  transition: background-color 0.3s;
}

.text-style:hover {
  color: #1976d2;
}
.event-button {
  transition: background-color 0.2s;
}

.event-button:hover {
  background-color: #0D47A1
}
